.afd-extensions strong {
  padding-left: 24px;
  background-image: url('../images/logo.png');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-y: -5px;
  background-position-x: -8px;
}
