.reverse-geocode-button {
    margin-bottom: 16px;
}

.geodemographic-input {
    display: none !important;
}

.afd-extensions strong {
    padding-left: 24px;
    background-image: url('../images/logo.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position-y: -5px;
    background-position-x: -8px;
}

.afd-typeahead-query {
    display: flex;
}

.afd-typeahead-query input {
    flex-grow: 1;
}

.afd-typeahead-with-reverse-geocode.afd-typeahead-query input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button.reverse-geocode-button {
    height: 32px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button.reverse-geocode-button > span {
    white-space: nowrap;
}

button.reverse-geocode-button > span svg {
    fill: white;
}

#address-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2em;
    font-family: Arial, sans-serif;
    color: #2c3c5b;
}

#address-container .address-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 200px
}

#address-container .address-field input {
    padding: 0.5em;
}

#address-container .address-field input:focus {
    border: #03A29A solid 2px;
    outline: #03A29A;
}

#address-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2em;
    font-family: Arial, sans-serif;
    color: #2c3c5b;
}

#address-container .address-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 200px
}

#address-container .address-field input {
    padding: 0.5em;
}

#address-container .address-field input:focus {
    border: #03A29A solid 2px;
    outline: #03A29A;
}


afd-typeahead {
    position: relative;
    color: #2c3c5b
}

afd-typeahead > input {
    padding: 0.5em;
    min-width: 300px;
}

afd-typeahead > input:focus {
    border: #03A29A solid 2px;
    outline: #03A29A;
}

afd-typeahead > afd-typeahead-utility {
    margin-top: 0.5em;
}

afd-typeahead > afd-typeahead-utility:hover {
    color: #03A29A;
}

afd-typeahead > afd-typeahead-results {
    position: absolute;
    margin-right: 0.5em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    min-width: 500px;
}

.field-afd_typeahead {
    z-index: 1000;
}