<div class="afd-typeahead-container field" afterRender="caller()">
    <label class="label"><span>Address Search</span></label>
    <div class="afd-typeahead-field">
        <div class="afd-typeahead-query">
            <input
                    class="input-text"
                    type="search"
                    autocomplete="off"
                    data-afd-control="typeahead"
                    data-bind="attr: {placeholder: getConfig('placeholder')}"
                    name="afd-search"
            >
        </div>
    </div>
    <!-- ko if: checkBool('enableManualEntryButton') -->
        <div class="afd-manual-input-button" style="display:none" data-bind="html: getConfig('manualEntryMarkup')"></div>
        <div class="afd-manual-input-search-button" style="display:none" data-bind="html: getConfig('manualEntrySearchMarkup')"></div>
        <style data-bind="text: getConfig('manualEntryCss')"></style>
    <!-- /ko -->
    <!-- ko if: checkBool('enableSearchAgainButton') -->
        <div class="afd-search-again" style="display:none" data-bind="html: getConfig('searchAgainMarkup')"></div>
        <style data-bind="text: getConfig('searchAgainCss')"></style>
    <!-- /ko -->
</div>